# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual Environment
venv/
env/
.venv/

# Jupyter Notebook
.ipynb_checkpoints/

# Data files
data/raw/
data/processed/
*.csv
*.xlsx

# Model files (opsional: kalau ukuran besar)
*.pkl
*.joblib

# Streamlit
.streamlit/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log
